body {
    background: magenta;
    margin: 0;
}
#container {
    max-width: 300px;
    padding-bottom: 30%;
    margin: 5% auto;
    background: #e5dfdf;
}
.header {
    text-align: center;
    background: #232323;
    color: white;
}