body {
    background: magenta;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#container {
    max-width: 400px;
    margin: 5% auto;
    background: #e5dfdf;
}
.header {
    text-align: center;
    background: #232323;
    color: white;
}

/* main */
#main {
    padding: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around 
}



/* input fields column */
.input-items-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
   
}
input {
    outline: inherit;
}
.input {
   width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4%;
}
.input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 180%;
}
.input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-adjustor {
    background: darkgray;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* vertical line */
.vertical-line {
    border-left: 1px solid black;
}

/* outcome column */
.outcome-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
}
.tip-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.total-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.primary-info {
    font-size: 140%;
    font-weight: 500;
    line-height: 1.4;
}
.secondary-text {
    font-weight: 100;
    font-size: 90%
}
.tip-per-person, .total-per-person {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#tip-amount-per-person {
    font-size: 110%;
}
#total-amount-per-person {
    font-size: 130%;
}

